header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #d01212; /* Example background color */
  color: rgb(235, 224, 224); /* Example text color */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 20px; /* Adjust margin as needed */
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right img {
  width: 50px; /* Adjust image width as needed */
  height: auto;
}
